/* ===== fonts link css part start =====  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ----- fonts link css part end ----- */
/* ===== variables css part start =====  */
:root {
    --poppins: 'Poppins', sans-serif;
    --brand_color: #EEBF63;
    --secondary-color: #828282;
    --primary-color: #151517;
}

/* ----- variables  link css part end ----- */
/* ===== common css part start =====  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    /* background: #F1F1F1; */
}

/* ----- common css part end ----- */
/* ===== main menu css part start =====  */
.nav_logo {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--poppins);
    color: var(--primary-color);
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    font-size: var(--poppins);
    color: var(--primary-color);
    position: relative;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 1px;
    background: #EEBF63;
    position: absolute;
    top: 80%;
    left: 0;
    transition: all linear .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-nav {
    gap: 40px;
}

.nav-link .active_menu {
    color: #EEBF63;
}
.fiexd_menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    animation: navMenu .5s linear;
    z-index: 999;
}
@keyframes navMenu{
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}
/* ----- main menu css part end ----- */
/* ===== banner css part start =====  */
#banner {
    padding: 42px 0 82px 0;
}

.banner_head {
    position: relative;
}

.banner_head p {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.banner_head h2 {
    width: 450px;
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
    font-family: var(--poppins);
    color: #2F2F2F;
    margin-bottom: 15px;

}

.banner_head h2 span {
    color: var(--brand_color);
}

.banner_head_line {
    position: absolute;
    top: 100%;
    left: 5%;
}

.banner_head_line img {
    width: 324px;
}

.banner_paragraph p {
    width: 426px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--poppins);
    color: #2F2F2F;
    margin: 41px 0 32px 0;
}

.banner_follow_button {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 44px;
}

.banner_follow_button .follow_text p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--poppins);
    color: var(--secondary-color);
}

.banner_icon a {
    font-size: 20px;
    color: #676767;
    transition:  all linear .3s;
}
.banner_icon a:hover{
    color: var(--brand_color);
}
.banner_buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner_buttons .mail_button a {
    padding: 16px 28px;
    background: var(--brand_color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--poppins);
    color: #fff;
    transition: all linear .3s;
}

.banner_buttons .mail_button a:hover {
    background: transparent;
    color: #676767;
    border: 1px solid var(--brand_color);
}

.banner_buttons .cv_button a {
    padding: 16px 22px;
    border: 2px solid var(--brand_color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--poppins);
    color: #2F2F2F;
    transition: all linear .3s;
}

.banner_buttons .cv_button a:hover {
    background: var(--brand_color);
    color: #fff;
}

.banner_image {
    width: 593px;
}

.banner_image {
    width: 100%;
}

/* ----- banner css part end ----- */
/* ===== intro css part start =====  */
.intro_part {
    width: 100%;
    padding: 63px 65px;
    background: #E9E9E9;
    border-radius: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}

.intro_image img {
    border-radius: 30px;
}

.intro_counter {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    align-items: end;
}


.project_count h2{
    font-size: 72px;
    font-weight: 600;
    font-family: var(--poppins);
    color: #8ED2A9;
}
.project_count h2 span{
    color: #2F2F2F;
}

.project_count p {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--poppins);
    color: var(--secondary-color);
}

.review_icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.review_icon ul {
    display: flex;
    gap: 3px;
}

.review_icon h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--poppins);
    color: #2F2F2F;
}

.review_icon ul li i {
    color: var(--brand_color);
}

.intro_reviews p {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--poppins);
    color: var(--secondary-color);
}

.intro_help h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--primary-color);
    padding: 70px 0 19px 0;
}

.intro_help p {
    width: 399px;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    font-family: var(--poppins);
    color: #000;
}

/* ----- intro css part end ----- */
/* ===== project css part start =====  */
#project {
    padding: 100px 0;
}

.project_head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}
.project_head_text h2{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--primary-color);
}
.project_head_button a{
    padding: 16px 33px;
    background: var(--brand_color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--poppins);
    color: #fff;
    transition:  all linear .3s;
}
.project_head_button a:hover{
    background: #2F2F2F;
    color: #fff;
}
.project_item_image img{
    width: 100%;
    border-radius: 25px;
}
.project_item_head h3{
    margin: 20px 0 10px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
    color: #1C1C1C;
}
.project_footer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}
.study_case_or_preview p{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--primary-color);
}
/* ----- project css part end ----- */
/* ===== hire me css part start =====  */
#hire_me{
    padding-bottom: 100px;
}
.hire_me_head h2{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

/* ----- hire me css part end ----- */
/* ===== fonts link css part start =====  */


/* ----- fonts link css part end ----- */
/* ===== fonts link css part start =====  */


/* ----- fonts link css part end ----- */
/* ===== fonts link css part start =====  */


/* ----- fonts link css part end ----- */